<div class="col-md-12" class="container-fluid">
    <form class="form-horizontal">
        <div class="col-md-12">
            <fieldset>
                <legend>User Login</legend>
                <div class="form-group">
                    <label for="loginUsername" class="col-lg-2 control-label" >Username: </label>
                    <div class="col-lg-4">
                        <input class="form-control" id="loginUsername" placeholder="Username" type="text">
                    </div>

                    <label for="loginPassword" class="col-lg-2 control-label" >Password: </label>
                    <div class="col-lg-4">
                        <input class="form-control" id="loginPassword" placeholder="Password" type="text">
                    </div>
                    <div class="col-lg-10 col-lg-offset-2">
                        <br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
</div>