<aside class="col-md-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Navigation</h3>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#/user-home" class="text-center">Home</a></li>
                <li><a href="#/my-ads" class="text-center">My Ads</a></li>
                <li><a href="#/publish-new-ad" class="text-center">Publish New Ad</a></li>
                <li><a href="#" class="text-center">Edit Profile</a></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="text-center">My Ads</h3>
        </div>
        <div class="panel-body" ng-controller="AdsController">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#/user-sorted-ads" class="text-center" ng-click="getSAds('')">All</a></li>
                <li><a href="#/user-sorted-ads" class="text-center" ng-click="getSAds('Published')">Published</a></li>
                <li><a href="#/user-sorted-ads" class="text-center" ng-click="getSAds('WaitingApproval')">Waiting Approval</a></li>
                <li><a href="#/user-sorted-ads" class="text-center" ng-click="getSAds('Inactive')">Inactive</a></li>
            </ul>
        </div>
    </div>
    <div ng-controller="UserController as ctrl">
        <a href="#/home" class="btn btn-primary" ng-click="ctrl.logoutUser()">Logout</a>
    </div>
</aside>
<div class="col-md-10" class="container-fluid" ng-controller="AdsController">
    <div ng-repeat="ad in userData.ads">
        <div class="panel panel-primary">
        <div class="panel-heading">
            <h5>{{ad.title}}</h5>
        </div>
        <div class="panel-body">
            <div class="col-md-9">
                <span>Status: </span><span class="text-primary">{{ad.status}}</span>
                <span>Category: </span><span class="text-primary">{{ad.categoryName}}</span>
                <span>Town: </span><span class="text-primary">{{ad.townName}}</span>
            </div>
            <!--<div class="col-md-3">
                <img ng-src="{{ad.imageDataUrl}}">
            </div>


            </div>-->
            <br>
            <div class="col-md-9">
                <p class="lead">{{ad.text}}</p>
            </div>
            <div class="col-md-3">
                <div>
                    <span class="text-center">{{ad.date | date: 'dd-MMM-yyyy'}}</span>
                </div>
                <div class="col-md-12">
                    <ul class="nav nav-pills nav-stacked">
                        <li ng-show="ad.status == 'Published' || ad.status == 'WaitingApproval'"><a href="#/user-home" class="text-center" ng-click="deactivateUserAd(ad.id)">Deactivate</a></li>
                        <li ng-show="ad.status == 'Inactive'"><a href="#/user-home" class="text-center" ng-click="publishAdAgain(ad.id)">Publish Again</a></li>
                        <li ng-show="ad.status == 'Inactive'"><a href="#/user-home" class="text-center" ng-click="deleteUserAd(ad.id)">Delete</a></li>
                        <li ng-show="ad.status == 'Inactive'"><a href="#/edit-ad" class="text-center" ng-click="deleteUserAd(ad.id)">Edit</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
