<aside class="col-md-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Navigation</h3>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#/home" class="text-center">Home</a></li>
                <li><a href="#/login" class="text-center">Login</a></li>
                <li><a href="#/register" class="text-center">Register</a></li>
            </ul>
        </div>
    </div>
</aside>
<div class="col-md-10" class="container-fluid">
    <form class="form-horizontal" ng-controller="UserController as userCtrl">
        <div class="col-md-12">
        <fieldset>
            <legend>User Registration</legend>
            <div class="form-group">
                <label for="username" class="col-lg-2 control-label" >Username: </label>
                <div class="col-lg-4">
                    <input class="form-control" id="username" placeholder="Username" type="text" ng-model="userCtrl.user.username">
                </div>

                <label for="password" class="col-lg-2 control-label" >Password: </label>
                <div class="col-lg-4">
                    <input class="form-control" id="password" placeholder="Password" type="password" ng-model="userCtrl.user.password">
                </div>

                <label for="confirm-password" class="col-lg-2 control-label" >Confirm Password: </label>
                <div class="col-lg-4">
                    <input class="form-control" id="confirm-password" placeholder="Confirm Password" type="password" ng-model="userCtrl.user.confirmPassword">
                </div>

                <label for="name" class="col-lg-2 control-label" >Name: </label>
                <div class="col-lg-4">
                    <input class="form-control" id="name" placeholder="Name" type="text" ng-model="userCtrl.user.name">
                </div>

                <label for="email" class="col-lg-2 control-label" >Email: </label>
                <div class="col-lg-4">
                    <input class="form-control" id="email" placeholder="Email" type="text" ng-model="userCtrl.user.email">
                </div>

                <label for="phone" class="col-lg-2 control-label" >Phone: </label>
                <div class="col-lg-4">
                    <input class="form-control" id="phone" placeholder="Phone" type="text" ng-model="userCtrl.user.phone">
                </div>
                <label for="select-town" class="col-lg-2 control-label">Select Town: </label>
                <div class="col-lg-4">
                <select class="form-control" id="select-town">
                    <option ng-repeat="town in towns">{{town.name}}</option>
                </select>
                </div>
                <div class="col-lg-10 col-lg-offset-2">
                    <br>
                    <a href="#/user-home" class="btn btn-primary" ng-click="registerUser(userCtrl.user)">Submit</a>
                </div>
            </div>
        </fieldset>
        </div>
    </form>
</div>